.register-section {
        
        
        width: 400px;
        height: 600px;
        margin: auto;
        margin-top: 5%;
        background-color:rgb(37, 68, 95,0.5);
        box-shadow: 3px 3px 5px 5px rgb(133, 149, 136);
        border-radius: 10px;
        
        
    
      
}

.user-input-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.check-box-container {
  
    text-align: center;
}

.reg-button {
    
    margin:15% 37%;
    padding:5% 5%;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 2px rgb(133, 149, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}